---
import '@fontsource-variable/open-sans';
import '@fontsource-variable/josefin-sans';

import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'] & {
  heroImageAlt?: string;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt = 'image',
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: 100%;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: 100%;
        margin: auto;
        padding: 1em 0;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="px-4 py-8">
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img
                width={1020}
                height={510}
                src={heroImage}
                alt={heroImageAlt}
              />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="bg-brown py-4 font-bold shadow-solid-gray">{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
